<div class="carousel-container">
  <div class="carousel" [@fadeInOut]>
    <img src="/assets/snv home.png "  alt="..." id="image">
    <div class="content">
      <h1 class="title">SOFTWARE <br> DEVELOPMENT</h1>
      <p class="description">
        SNV Software Solutions Private Limited delivers cost effective and reliable,software development services from total solution configuration.
      </p>
      <button routerLink="/service/software-develop">Read More</button>
    </div>
  </div>
  <div class="carousel" [@fadeInOut]>
    <div class="image-container">
      <img src="/assets/imgslider2.2.png"  alt="..." id="image">
    </div>
    <div class="content">
      <h1 class="title">MICROSOFT <br> TECHNOLOGIES</h1>
      <p class="description">
        The ability to collect and analyze internal and external data can dictate <br>
         how well an organization can generate knowledge and ultimately business value.
      </p>
      <button routerLink="/expertise/microsoft-technologies"  >Read More</button>
    </div>
  </div>
  <div class="carousel" [@fadeInOut]>
    <img src="/assets/slider-2.jpg "  alt="..." >
  </div>
  
    <button class="nxt button"><i class="bi bi-chevron-compact-right"></i></button>
    <button class="prev button"><i class="bi bi-chevron-compact-left"></i></button>

</div>
