<div class="bg_info">
    <div class="heading">
        <h1>about us</h1>
        <div class="home">
            <a routerLink="/home"><i class="bi bi-house-check-fill"></i></a>
            <span>About us</span>
        </div>
    </div>
</div>

<div class="grid-container">
    <div class="grid item1">
        <div class="title">SNV Software Solutions Private Limited </div>
        <div class="content">
            <p class="content-text1 texts">
                SNV Software Solutions Private Limited, a leading IT service provider in India is proficient in simplifying the client demands with sustainable and personalized IT solutions globally.
            </p>
            <p class="content-text1 texts">
                SNV Software Solutions Private Limited specialize in creating tailored online solutions that blend functionality and aesthetics.
                With a dedicated team, we transform ideas into interactive and engaging websites, ensuring our clients make a lasting impact in the digital realm.
                Join us in crafting a web presence that not only stands out but also delivers results​.We understand that every business is unique, and therefore, we approach each project with a fresh perspective, tailoring our solutions to address specific needs and goals.​
            </p>
        </div>
    </div>
    <div class="grid item2">
        <img src="/assets/contact_us.avif"  alt="">
    </div>
</div>

<div class="reason-grid">
    <div class="headin text-center py-3 ">
        <h4>REASON FOR CHOOSING US</h4>
        <p class="text-primary">FEATURES & ADVANTAGES</p>
        <p class="text-primary" >Creativity, transparency, robust delivery, and customer-centric approach are the key spotlights of our software development services.</p>
    </div>
    <div class="box-grid">
        <div class="box box-item1">
            <div class="rotate">
                <span><i class="bi bi-person-square"></i></span>
            </div>
            <h5>Our Vision</h5>
            <p>To provide complete, competitive and sustainable solutions IT challenges. We aim to simplify the clients demands with effective and personalized IT services and solutions.</p>
        </div>
        <div class="box box-item2">
            <div class="rotate">
                <span><i class='bx bx-dollar-circle'></i></span>
            </div>
            <h5>Our Mission</h5>
            <p>Provide custom, secure, reliable and scalable IT solutions based on clients' business and environment. Integrate technology seamlessly with client’s business requirements.</p>
        </div>
        <div class="box box-item3">
            <div class="rotate">
                <span><i class="bi bi-wallet"></i></span>
            </div>
            <h5>Values</h5>
            <p>Implementation with Intellect and Ideas yields an Ideal Solution.</p>
            <ul>
                <li>Customer First</li>
                <li>Accountable</li>
                <li>Integrity</li>
                <li>Quality</li>
            </ul>
        </div>
    </div>
</div>