<footer>
    <div class="container-footer">
        <div class="item1">
            <h3>SERVICES</h3>
            <ul> 
                <li  routerLink="/service/software-develop"><span>Software Development</span></li>
                <li  routerLink="/service/mobile-application"><span>Mobile Application</span></li>
                <li  routerLink="/service/web-component"><span>Web Development</span></li>
                <li  routerLink="/service/testing"><span>Software Testing</span></li>
                <li  routerLink="/service/digital-market"><span>Digital Marketing</span></li>
                <li  routerLink="/service/quality-assurance"><span>Quality Assurance</span></li>
                <li  routerLink="/service/it-staff"><span>IT Staff Augment</span></li>
                <li routerLink="/service/support"><span>Maintenance&Support</span></li>
            </ul>
        </div>
        <div class="item2">
            <h3>OUR EXPERTISE</h3>
            <ul>
                <li  routerLink="/expertise/microsoft-technologies"><span>Microsoft Technologies</span></li>
                <li  routerLink="/expertise/angular"><span>Angular</span></li>
                <li  routerLink="/expertise/ionic"><span>Ionic</span></li>
                <li  routerLink="/expertise/react-js"><span>ReactJS</span></li>
                <li  routerLink="/expertise/java"><span>Java/J2EE</span></li>
                <li  routerLink="/expertise/python-development"><span>Python Development</span></li>
                <li  routerLink="/expertise/saleforce"><span>Salesforce</span></li>
                <li  routerLink="/expertise/mongo-db"><span>MongoDB</span></li>
                <li  routerLink="/expertise/sql"><span>SQL</span></li>      
            </ul>
        </div>
        <div class="item3">
            <h3>GET IN TOUCH</h3>
            <ul>
                <li class="address-location">
                    <i class="bi bi-geo-alt"></i>
                    <address >
                        SNV Software Solutions,
                         SRI SAINAGARGUNAKONDA COMPLEX
                        Plot No: DH4 , 101
                        Bandari Layout ,Road No: 04
                         Nizampet, Hyderabad, Telengana, 500090.
                    </address>
                </li>
                <li class="phone"><i class="bi bi-telephone"></i><a href="tel:+91 40 4262 0232">+91 40 4262 0232</a> </li>
                <li class="email"><i class="bi bi-envelope"></i><a [href]="emailUrl">info@snvsoftwaresolutions.onmicrosoft.com</a></li>
                <li class="social-media">
                    <a href="https://www.facebook.com/profile.php?id=100095613003920"><i class='bx bxl-facebook item fs-6'></i></a>
                    <a class="media twitter bg-dark"><i class="bi bi-twitter-x "></i></a>
                    <a href="https://www.linkedin.com/in/snv-software-solutions-ba21ab299" class="media"><i class="bi bi-linkedin "></i></a>
                    <a href="https://www.instagram.com/snvsoftwaresolutions/"class="c1"><i class="bi bi-instagram"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="bottom-footer bg-primary text-center text-white p-1">
        SNV Software Solutions Private Limited was founded in 2023.
    </div>
</footer>