<div class="container-fluid">
    <div class="box">
      <h1>MICROSOFT TECHNOLOGIES</h1>
      <img src="/assets/microsoft-logos.jpg"  width="700px" alt="">
      <div class="box-container">
        <div class="text-container">
          <p>SNV  delivers secure and high performing applications for the clients which in turn create immense values for their business. We have an uncompromised asset which works in areas of enterprise data management, infrastructure optimization, portals and collaboration, business process automation, custom application development, business intelligence, and systems integration.</p>

          <p>Our solutions are based on combination of insight, innovation and technical knowledge, backed by proven tools, methodologies and practices. SNV team has strong expertise in delivering applications and products using .Net Core, Microsoft Azure, Azure SQL, Azure IOT, Payment Gateway Solution, Content Management System, Microservices and Microdots. We are also experts in Microsoft .Net Frameworks from 2.0 to 4.8, C# 8, Web API 2.2/5.2, WCF, MVC, VB6, ASP.net, VB.net, OOA / OOD, WPF, Silverlight, Windows Phone 8.</p>
                      <h2>End-to-end services</h2>
                      <ul>
                        <li>Rich Internet Applications and Web clients (including Silverlight-based)</li>
                        <li>Desktop and SmartClient applications</li>
                        <li>Microsoft Server based solutions (MS SQL Server, MS BizTalk)</li>
                        <li>MS SharePoint Server integration</li>
                        <li>Custom Application Development Services</li>
                        <li>Software porting to .NET platform</li>
                        <li>Mixed unmanaged/managed development</li>
                        <li>Visual Studio Integration Partner (VSIP)</li>
                        <li>Mobile solutions</li>
                        <li>Application Maintenance &amp; Support</li>
                        <li>Application Testing Services</li>
                        <li>Infrastructure Management Services</li>
                      </ul>
                      <h2>.NET tools and technologies from components to clouds</h2>
                      <p>In the rapidly evolving world of tools and technology, EPAM has expertise in virtually all Microsoft .NET development products, including:</p>
                      <ul>
                        <li><strong>Component / Architecture</strong>: .NET, COM+, SOA, .NET Enterprise Services</li>
                        <li><strong>Languages</strong>: C#, F#, C++/CLI, VB.NET, PowerShell, T-SQL</li>
                        <li><strong>App. Servers and Web Platforms</strong>: IIS, ASP.NET, Commerce Server .NET</li>
                        <li><strong>Business Process Management and Workflow</strong>: SharePoint Server, BizTalk Server, WF</li>
                        <li><strong>Portals</strong>: MS SharePoint</li>
                        <li><strong>Data exchange</strong>: WCF/WF, ADO.NET, Entity Framework, LINQ</li>
                        <li><strong>GUI</strong>: ASP.NET WebForms, ASP.NET MVC, WinForms, WPF, Silverlight, XAML</li>
                        <li><strong>DB and OlAP</strong>: MS SQL Server, MS SSIS, MS SSAS, MS SSRS</li>
                        <li><strong>Cloud Computing</strong>: Windows Azure, SQL Azure, BPOS</li>
                        <li><strong>Mobile Technologies</strong>: Windows CE, Windows Phone 7</li>
                        <li><strong>Low-level Programming</strong>: WinAPI (32-bit and 64-bit), Windows Kernel, Windows Driver Kit</li>
                        <li><strong>Deployment Technology</strong>: Windows Installer, ClickOnce</li>
                      </ul>
          
          </div>
     </div>
    </div>
  </div>