<div class="container-fluid">
    <div class="box">
      <h1>SALESFORCE</h1>
      <img src="/assets/salesforce.jpg"  width="700px" alt="">
      <div class="box-container">
        <div class="text-container">
          <p>We have deep expertise in Salesforce custom application development using Force.com and in building mobile applications.</p>
          <p>Salesforce services allow businesses to use cloud technology to better connect with partners, customers, and potential customers. Using the Salesforce CRM, companies can track customer activity, market to customers, and many more services.</p>
          <p>Salesforce.com is the customer success platform of choice for many organizations, when it comes to getting the most out of this powerful tool, experience matters. SNV Software Solutions Private Limited Salesforce practice helps clients get the best out of their investments. We offer Implementation, Customization, Integration, and Maintenance services for Salesforce Sales Cloud, Services Cloud, Community Cloud and Marketing Cloud. We have deep expertise in Salesforce custom application development using Force.com and in building mobile applications.</p>
          <h2>Salesforce Services </h2>
        <h5>SAAS (Software As A Service)</h5> 
<p>Here, you can directly obtain the built-in software and make use of it.</p> 
<h5>PAAS (Platform As A Service)</h5> 
<p>PAAS offers you the framework and platform to build your websites and apps.</p>
<h5>IAAS (Infrastructure As A Service)</h5>
<p> IAAS plays a vital role in Salesforce development, although not very widely used</p>
          </div>
     </div>
    </div>
  </div>