
<div class="container-fluid">
    <div class="box">
        <h1>Angular</h1>
        <img src="/assets/angular.jpg" alt="">
      <div class="box-container">
        <div class="text-container">
             <p>Angular is a popular open-source web application framework maintained by Google and a community of developers. It is used for building single-page web applications (SPAs) and dynamic web applications. Angular provides a comprehensive set of features and tools for front-end development, including: </p>
              
             <p>Component-based architecture: Angular applications are built using components, which are reusable building blocks that encapsulate HTML, CSS, and TypeScript code.</p>
              
             <p> Two-way data binding: Angular's data binding capabilities allow for automatic synchronization of data between the model (JavaScript objects) and the view (HTML templates).</p>
              <p>Angular can be used to build both client-side and server-side rendered applications,</p>
             <p>Dependency injection: Angular's dependency injection system makes it easy to manage dependencies and promote modular, maintainable code.</p>
              
             <p>Directives: Angular provides a set of built-in directives, such as ngIf, ngFor, and ngModel, that allow you to extend HTML with additional functionality and create dynamic views.</p>
              
              <p>Services: Angular services are singleton objects that are used to encapsulate reusable logic and data across components.</p>
              
              <p>Routing: Angular's built-in router allows you to define navigation paths and load different components based on the current URL.</p>
              
              <p> Forms: Angular provides powerful form handling capabilities, including template-driven forms and reactive forms, for creating and validating user inputs.</p>
              
              <p>HTTP client: Angular's HttpClient module provides a way to communicate with backend servers using HTTP requests.</p>
       
          </div>
     </div>
    </div>
  </div>