<div class="container-fluid">
    <div class="box">
        <h1>digital-marketing</h1>
<img src="/assets/digital_mark.jpg"   alt="">
      <div class="box-container">
        <div class="text-container">
            <p>Digital marketing is the component of marketing that uses the Internet and online-based digital technologies such as desktop computers, mobile phones, and other digital media and platforms to promote products and services.</p>
            <p>Digital marketing, also called online marketing, is the promotion of brands to connect with potential customers using the internet and other forms of digital communication. This includes not only email, social media, and web-based advertising, but also text and multimedia messages as a marketing channel.
            </p>
            <h1> Types of Digital Marketing</h1>
            <h4>Content Marketing</h4>
<p>Content marketing refers to the publishing and distribution of text, video or audio materials to customers online. Blogs, videos and podcasts are common ways for businesses to engage in content marketing.</p>

            <h4>Search Engine Optimi(SEO)</h4>
            <p> 
              SEO is the process of using organic tactics to rank high on search engines. It is a natural way of generating traffic to your website from the search engine results page. It doesn’t stop with just driving traffic to your website but it also has a part to play in converting these traffic into quality leads.</p>
              
              <p>SEO is often grouped under three categories as listed below:</p>
              
              <h4>On-Page SEO</h4>
             <p>It is nothing but optimizing a web page to target a specific search query and rank high on search engines. It can be achieved by doing various activities like keyword research, content creation, and keyword optimization.
            </p>
            
              <h4>Off-page SEO</h4>
              <p>It is carried out to build the reputation of a web page by linking it with other quality websites. By doing this you make search engines to trust the content on your website. This increases the reputation and reliability of your web page on search engines. This process of generating backlinks by connecting your webpage content with other quality websites is called link building.
            </p>
            
              <h4>Technical SEO</h4>
              <p>
              Many have come to a misconception that SEO has become ineffective in the B2B space, but the reality is, more than 70% of B2B purchases begin their buying process with a generic search. Hence your SEO strategy should focus more on creating quality content, generating quality backlinks to reach a wider audience, and rank high on the search engines. Though SEO has become challenging day by day, it is still one of the best channels for B2B.
              </p>
            <h4>Search Engine Marketing (SEM)  </h4>
            
<p>Search Engine Marketing (SEM) is a paid tactic to gain attention to the brand by appearing high on search engine results. This strategy is often called paid search or pay-per-click (PPC) marketing. It involves various activities such as setting up the ads, optimizing the ads, setting a budget and most importantly placement of ads. SEM can be carried out on various search engines but is done predominantly on Google. Google supports paid advertising on its search engine and partners called Google Ads.</p>

<p>SEM is the most effective marketing strategy in the B2B space. Its impact is immediate and as soon as you launch your campaign, you can see your ads showing on SERPs. With SEM, you will have the luxury to define your target audience and you can filter them based on age, interests, location, habits and more. You can also keep a track of ROI which makes SEM more effective for B2B.</p>
<h4> Social Media Marketing (SMM)</h4>
<p>Social Media Marketing is the process of gaining traffic or attention from social media sites by posting content relevant to your target audience. Some of the popular social media sites include Facebook, Instagram, Twitter, YouTube, LinkedIn, Reddit, and Snapchat.</p>  

<h4>Pay-Per-Click (PPC)</h4> 
<p>PPC is an online method for advertising where a business only pays for its ads when a person clicks on them.</p> 
<h4>Email Marketing</h4>
<p>Email marketing enables businesses to send branded, promotional content directly to prospective customers via email. The use of automated newsletters is common in this context. </p>
<h4>Affiliate Marketing</h4>
<p>Affiliate marketing is a performance-based exercise that enables revenue sharing and pay-per-sale (PPS) compensation within a common network. </p>
<h4>Native Advertising</h4>
<p>Native advertising involves blending marketing materials into a medium, making the underlying message and marketing purposes equally important. Sponsored content, in which one business posts its own content on a different website, is a common method of native advertising.</p>

          </div>
     </div>
    </div>
  </div>