
<div class="container-fluid">
    <div class="box">
        <h1>SQL</h1>
        <img src="/assets/sql.avif" height="300px" width="400px" alt="">
        <div class="box-container">
        <div class="text-container">
          <p>SQL stands for Structured Query Language to interact with a relational database. SQL is a tool for organizing, managing, and retrieving archived data from a computer database. The original name was given by IBM as Structured English Query Language, abbreviated by the acronym SEQUEL. 
            When data needs to be retrieved from a database, SQL is used to make the request. The DBMS processes the SQL query retrieves the requested data and returns it to us.</p>
            <p>In common usage, SQL encompasses DDL and DML commands for CREATE, UPDATE, modified, or other operations on database structure.</p>
            <h5> Characteristics of SQL</h5>
            SQL is a non-procedural language. 
            <p>We can without difficulty create and replace databases in SQL. It isn’t a time-consuming process. </p>
            <p>SQL is primarily based totally on ANSI standards. </p>
            <p>SQL does now no longer have a continuation individual.</p>
            <p>SQL is entered into the SQL buffer on one or more lines. </p>
            <p>SQL makes use of a termination individual to execute instructions immediately.</p> 
            <h5>Uses of SQL</h5>
            <h6>Data definition</h6>
            <p> It is used to define the structure and organization of the stored data and the relationships among the stored data items.</p>
            <h6>Data retrieval</h6> 
            <p>SQL can also be used for data retrieval.</p>
            <h6>Data manipulation</h6> 
            <p>If the user wants to add new data, remove data, or modifying in existing data then SQL provides this facility also.</p>
            <h6>Access control</h6> 
            <p>SQL can be used to restrict a user’s ability to retrieve, add, and modify data, protecting stored data against unauthorized access.</p>
            <h6>Data sharing</h6> 
            <p>SQL is used to coordinate data sharing by concurrent users, ensuring that changes made by one user do not inadvertently wipe out changes made at nearly the same time by another user.</p>
          </div>
     </div>
    </div>
  </div>