.sidebar ul li {
  padding: 5px;
}
.sidebar ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #222;
}
li > a{
  font-weight: 600;
}
.main{
  font-size: 16px;
  font-weight: 500;
}
.dropdown-content {
  width: 220px;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}
.dropdown-content>a {
  padding: 8px 10px ;
  margin-inline: 15px;
  text-decoration: none;
  display: block;
  font-size: 12px;
}
i{
  float: right;
  padding-right: 20px;
  transform: translateY(5px);
  transition: all 0.5s;
}