<div class="container-fluid">
    <div class="box">
      <h1>IT STAFF AUGMENT</h1>
      <img src="/assets/IT_Staff_.webp"  width="700px" alt="">
      <div class="box-container">
        <div class="text-container">
          <p><strong>SNV Software Solutions Private Limited builds and maintains a pool of skilled resources that can be made available to our customers quickly and cost effectively.</strong></p>
          <p>Staff augmentation is an outsourcing strategy that is used to staff a project and respond to the business objectives. The technique consists of evaluating the existing staff and then determining which additional skills are required.</p>
          <p>Our Resource Augmentation services provide skilled personnel to work under your direction to help you develop, maintain, manage and support your applications. Our skilled application professionals can help you manage fluctuating skill needs, skills gaps and changing staffing needs to meet your aggressive project timelines. Our resources are experienced and certified in key technologies and work with you on-site or remote, depending on your requirement.</p>
          <h2>SNV Software Solutions Private Limited provides resource augmentation services in the following areas:</h2>
          <ul>
            <li>Business Analysts</li>
            <li>Project Managers</li>
            <li>Technical Leads</li>
            <li>Developer / Sr. Developers</li>
            <li>Web Designers</li>
            <li>Testing Resources</li>
            <li>Technical Writers</li>
          </ul>
          <h2>Technical areas include:</h2>
          <h3>Microsoft Technologies:</h3>
          <p>ASP.NET, VB.NET, C#, ASP.NET MVC, SharePoint, MS SQL Server, Windows Azure Cloud, SSIS, SSAS, SSRS.</p>
          <h3>Oracle Technologies:</h3>
          <p>Core Java, J2EE, Hibernate, Swing, Oracle PL/SQL, Oracle D2K.</p>
          <h3>Open Source Technologies:</h3>
          <p>PHP, MySQL, HTML5, CSS3</p>
          </div>
     </div>
    </div>
  </div>