
<div class="container-fluid">
    <div class="box">
        <h1>MongoDB</h1>
        <img src="/assets/mongoDB.jpg" alt="">
      <div class="box-container">
        <div class="text-container">
          <P>MongoDB is an open-source document-oriented database that is designed to store a large scale of data and also allows you to work with that data very efficiently. It is categorized under the NoSQL (Not only SQL) database because the storage and retrieval of data in the MongoDB are not in the form of tables. 

            <P>The MongoDB database is developed and managed by MongoDB.Inc under SSPL(Server Side Public License). It also provides official driver support for all the popular languages like C, C++, C#, and .Net, Go, Java, Node.js, Perl, PHP, Python, Motor, Ruby, Scala, Swift, Mongoid. So, that you can create an application using any of these languages.
            
             
            <h5> MongoDB works </h5>
             <P>As we know that MongoDB is a database server and the data is stored in these databases. Or in other words, MongoDB environment gives you a server that you can start and then create multiple databases on it using MongoDB.  </P>
            <P>Because of its NoSQL database, the data is stored in the collections and documents. Hence the database, collection, and documents are related to each other </P>
            <P>The documents are created using the fields. Fields are key-value pairs in the documents, it is just like columns in the relation database. The value of the fields can be of any BSON data types like double, string, boolean, etc </P>
            <P>The data stored in the MongoDB is in the format of BSON documents. Here, BSON stands for Binary representation of JSON documents. Or in other words, in the backend, the MongoDB server converts the JSON data into a binary form that is known as BSON and this BSON is stored and queried more efficiently </P>
            <P>In MongoDB documents, you are allowed to store nested data. This nesting of data allows you to create complex relations between data and store them in the same document which makes the working and fetching of data extremely efficient as compared to SQL </P>
          
          </div>
     </div>
    </div>
  </div>